* {
    padding: 0;
    margin: 0;
    user-select: text;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

li {
    list-style: none;
}

body {
    background-color: #1a171c;
    overflow-x: hidden;
}

.container {
    max-width: 1100px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    border: 2px #313131 solid;
    overflow-x: hidden;
    opacity: 95%;
}

header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2f2830;
    z-index: 2;
}

.header_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

.logo {
    width: 350px;
    position: relative;
    z-index: 3;
    margin-top: 2px;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo a h3 {
    transition: .5s;
}

.logo a h3:hover {
    color: #dfb3ff;
    text-shadow: 0 0 1rem #dfb3ff;
    transition: .5s;
}

.logo img {
    width: 50px;
    margin-right: 20px;
    border-radius: 10px;
}   

.header_list li {
    margin-right: 20px;
    font-size: 18px;
    list-style: none;
    z-index: 2;
    position: relative;
}

.header_list {
    display: flex;
}

.header_list li a {
    color: #ffffff;
    text-decoration: none;
    transition: .5s;
}

.header_list li a:hover {
    color: #dfb3ff;
    text-shadow: 0 0 1rem #dfb3ff;
    transition: .5s;
}

.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    filter: blur(5px);
    overflow: hidden;
    object-fit: cover;
    z-index: -1;
}

.fullscreen {
    max-height: 100%;
    max-width: 100%;
}

.prev {
    position: relative;
    z-index: 3;
    margin-top: 225px;
    text-align: center;
}

.prev h2 {
    font-size: 62px;
    margin-bottom: 15px;
    opacity: 0;
    transform: translate(0, 100%);
    transition: .5s;
}

.prev h2._active {
    opacity: 1;
    transform: translate(0, 0);
    transition: .5s;
}

.prev p {
    font-size: 24px;
}

.download-btn {
    background-color: #1a171c;
    padding: 20px;
    width: 250px;
    margin: 0 auto;
    margin-top: 60px;
    font-size: 21px;
    border: 2px solid #823eff;
    transition: .5s;
}

.download-btn:hover {
    background-color: #823eff;
    box-shadow: 0 0 1rem #823eff;
    cursor: pointer;
    transition: .5s;
}

.home-transition {
    position: relative;
    margin-bottom: 60px;
}

.transition1 {
    position: relative;
    top: 60px;
    left: 0;
    width: 100%;
    height: 300px;
}

.home-transition-content {
    position: relative;
    margin-top: 70px;
    background-color: #1a171c;
    z-index: 5;
    text-align: center;
}

.wwh-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
}

.wwh-item {
    position: relative;
    width: 180px;
    box-shadow: 0 0 .2rem #cccccc;
    padding: 20px;
    background-color: #1e1e24;
    border-radius: 7px;
    font-size: 18px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    margin-right: 30px;
    margin-left: 30px;
    opacity: 0;
    transform: translate(0, 100%);
    transition: .5s;
}

.wwh-item._active {
    opacity: 1;
    transform: translate(0, 0);
    transition: .5s;
}

.wwh-item:hover {
    transform: scale(102%);
    transition: .5s;
}

.wwh-item h3 {
    margin-bottom: 5px;
}

.wwh-item img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.discord-section {
    position: relative;
}

.dss-top {
    position: relative;
    z-index: -2;
    width: 100%;
    top: 30px;
    left: 0;
    height: 100px;
}

.dss-bg {
    background-color: #823eff;
}

.dss-content {
    display: flex;
    align-items: center;
}

.ds-icon {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 0.3rem #000000;
    margin-right: 30px;
}

.container-900px {
    max-width: 900px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.dss-text p {
    color: #cdcdcd;
}

.dss-text p a {
    color: #cdcdcd;
    transition: .5s;
}

.dss-text p a:hover {
    color: #ffffff;
    transition: .5s;
}

.dss-bot {
    position: relative;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 150px;
    z-index: -2;
}

footer {
    background-color: #2f2830;
    opacity: 95%;
    padding: 20px;
    border: 2px #313131 solid;
}

.footer-links {
    display: flex;
}

.footer-item:not(:last-child) {
    margin-right: 30px;
}

.footer-item p a {
    text-decoration: none;
    color: #bdbdbd;
    transition: .5s;
}

.footer-item p a:hover {
    text-decoration: underline;
    color: #ffffff;
    transition: .5s;
}

.footer-body {
    display: flex;
    justify-content: space-between;
}

.fixed-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: blur(5px);
    z-index: -1;
}

.fixed-bg img {
    height: 100%;
    width: 100%;
}

.dl {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 900px;
    margin-top: 180px;
}

.dl-item {
    background-color: #1a171c;
    border: #823eff 2px solid;
    border-radius: 7px;
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 1rem #000000;
    transition: .5s;
}

.dl-item:hover {
    transform: scale(102%);
    transition: .5s;
}

.dl-item p {
    color: #cccccc;
}

.dl-item img {
    width: 160px;
    height: 90px;
    margin-right: 30px;
}

.dl-points {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.contacts-list {
    margin: 0 auto;
    margin-top: 120px;
    max-width: 900px;
    padding-left: 20px;
    padding-right: 20px;
}

.contacts-item {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: #2f2830;
    border-radius: 7px;
    border: #823eff 2px solid;
    box-shadow: 0 0 1rem #000000;
    margin-bottom: 50px;
}

.contacts-item img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 0 1rem #000000;
    margin-right: 30px;
}

.contacts-text {
    text-align: right;
}

.top-adds-bg {
    background-color: #823eff;
    padding-top: 70px;
    padding-bottom: 10px;
    text-align: center;
}

.top-adds-bg a {
    color: #cccccc;
    transition: .5s;
}

.top-adds-bg a:hover {
    color: #ffffff;
    transition: .5s;
}

.leaders-list {
    margin: 0 auto;
    margin-top: 180px;
    max-width: 1100px;
    padding-left: 20px;
    padding-right: 20px;
}

.leaders-item {
    min-width: 250px;
    border-radius: 7px;
    border: #823eff 2px solid;
    padding: 20px;
    text-align: left;
    box-shadow: 0 0 1rem #000000;
    background-color: #1a171c;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.leaders-item a {
    color: #cccccc;
    transition: .5s;
}

.leaders-item a:hover {
    color: #ffffff;
    transition: .5s;
}

.leaders-item img {
    text-align: left;
    width: 100px;
    height: 100px;
    margin-right: 30px;
}

.dwnl-block {
    background-color: #2f2830;
    margin-top: 120px;
    box-shadow: 0 0 1rem #000000;
    opacity: 95%;
    border-radius: 15px;
    border: 2px #313131 solid;
    padding: 20px;
}

.dwnl-top {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
}

.dwnl-top img {
    width: 150px;
    height: 150px;
    margin-right: 30px;
    border-radius: 15px;
    box-shadow: 0 0 1rem #000000;
}

.container-600px {
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.dwnl-text {
    text-align: right;
}

.dwnl-bot {
    display: flex;
    justify-content: right;
}

.dwnl-btn-item:not(:first-child) {
    margin-left: 25px;
}

.dwnl-btn-item {
    display: flex;
    align-items: center;
    background-color: #823eff;
    border-radius: 7px;
    min-width: 100px;
    padding: 10px;
    box-shadow: 0 0 .5rem #000000;
    cursor: pointer;
    position: relative;
    transition: .5s;
}

.dwnl-btn-item:hover {
    background-color: #6a1bff;
    transition: .5s;
}

.dark-dwnl-text {
    background-color: #1d1d1d;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 70px;
}

.dwnl-icon {
    width: 25px;
    height: 25px;
    margin-right: 7px;
    text-align: left;
}

.modal-dwn-btns {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -50px;
    left: 0;
    max-width: 200px;
    transition: .5s opacity, .5s visibility;
}

.modal-dwn-btns.active {
    visibility: visible;
    opacity: 1;
    z-index: 12;
}

.modal-dwn-item {
    background-color: #823eff;
    min-width: 50px;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
    transition: .5s;
}

.modal-dwn-item:not(:first-child) {
    margin-left: 10px;
}

.modal-dwn-item:hover {
    background-color: #6a1bff;
    transition: .5s;
}

.under-header {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color:#2f2830;
    opacity: 95%;
    z-index: 14;
}

.under-header-menu {
    display: flex;
    justify-content: right;
    position: relative;
}

.under-header-menu li {
    margin-left: 10px;
    margin-top: 10px;
}

.under-header-menu li a {
    color: #ffffff;
    text-decoration: none;
    transition: .5s;
}

.under-header-menu li a:hover {
    color: #dfb3ff;
    text-shadow: 0 0 1rem #dfb3ff;
    transition: .5s;
}

@media(max-width: 767px) {
    .hamburger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 2;
    }

    .hamburger::before, .hamburger::after {
        content: "";
        background-color: #ffffff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: 1s;
    }

    .hamburger::before {
        top: 0;
    }

    .hamburger::after {
        bottom: 0;
    }

    .hamburger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        background-color: #ffffff;
        transition: 1s;
    }

    .header_menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        background-color: #1a171c;
        padding: 50px 0 0 0;
        border-right: 7px #c09fff solid;
        z-index: 21;
        transition: 1s;
    }

    .header_menu.active {
        transition: 0.5s;
        left: -10px;
    }

    .header_list {
        display: block;
    }

    .header_list li {
        margin: 0 0 10px 0;
        margin-left: 30px;
    }

    .header_list li a {
        color: #ffffff;
        text-decoration: none;
        padding: 0px;
        position: relative;
        transition: 0.5s;
    }

    .header_list li a:hover {
        color: #c09fff;
        transition: 0.5s;
    }

    .header_list li a::after {
        display: none;
    }

    .header_list li a:hover::after {
        display: none;
    }

    .hamburger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .hamburger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .hamburger.active span {
        transform: scale(0);
    }

    .dss-content img {
        display: none;
    }

    .dss-content {
        text-align: center;
    }

    .footer-body {
        display: block;
    }

    .dl-item {
        display: block;
        justify-content: center;
        text-align: center;
        padding-bottom: 40px;
    }

    .dl-item img {
        margin-right: 0;
        margin-bottom: 30px;
    }
}

@media(max-width: 560px) {
    .contacts-item img {
        width: 80px;
        height: 80px;
    }

    .contacts-text {
        font-size: 12px;
    }

    .dwnl-bot {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }

    .dwnl-btn-item:not(:first-child) {
        margin-left: 0;
    }

    .dwnl-btn-item {
        margin: 0;
        margin-bottom: 20px;
        width: 200px;
    }
}
